// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@font-face {
    font-display: block;
    font-family: "bootstrap-icons";
    src: url("fonts/bootstrap-icons.woff2?1fa40e8900654d2863d011707b9fb6f2") format("woff2"),
  url("fonts/bootstrap-icons.woff?1fa40e8900654d2863d011707b9fb6f2") format("woff");
  }
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";

